<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>Bennu Official Homepage</title>

    <link rel="stylesheet" href="{% static 'bennuhp/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bennuhp/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bennuhp/css/main.css' %}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}"><b>Bennu Official Homepage</b></a>
        </div>

        <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
          <li class="active"><a href="{% url 'home' %}">HOME</a></li>
          <li ><a href="{% url 'bio' %}">BIOGRAPHY</a></li>
          <li ><a href="{% url 'disco' %}">DISCOGRAPHY</a></li>
          <li ><a href="{% url 'live' %}">LIVES</a></li>
        </ul>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

    <div id="f">
      <div class="container">
        <div class="row centered">
          <a href="https://twitter.com/bennu1011?lang=ja"><i class="fa fa-twitter"></i></a>
          <a href="https://www.facebook.com/bennu1011/"><i class="fa fa-facebook"></i></a>
          <a href="https://www.youtube.com/channel/UCT1Q_-6DSex_wmwrgM2P6Nw"><i class="fa fa-youtube"></i></a>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{% static 'bennuhp/js/bootstrap.min.js' %}"></script>

    </body>
</html>
