<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="assets/ico/favicon.png"> -->

    <title>Bennu Official Homepage</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'bennuhp/css/main.css' %}">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}"><b>Bennu Official Homepage</b></a>
        </div>

        <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
          <li class="active"><a href="{% url 'home' %}">HOME</a></li>
          <li ><a href="{% url 'bio' %}">BIOGRAPHY</a></li>
          <li ><a href="{% url 'disco' %}">DISCOGRAPHY</a></li>
          <li ><a href="{% url 'live' %}">LIVES</a></li>
        </ul>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

    <div id="f">
      <div class="container">
        <div class="row centered">
          <a href="https://twitter.com/bennu1011?lang=ja"><i class="fa fa-twitter"></i></a>
          <a href="https://www.facebook.com/bennu1011/"><i class="fa fa-facebook"></i></a>
          <a href="https://www.youtube.com/channel/UCT1Q_-6DSex_wmwrgM2P6Nw"><i class="fa fa-youtube"></i></a>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'bennuhp/js/main.js' %}"></script>

    <!-- For IE compatibilities -->
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    </body>
</html>
