{% extends 'bennuhp/common/base.html' %}

{% block content %}
	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h1><b>Page Not Found</b></h1>
				<h2>- Try htttp://SERVER_FQDN:8000/bennu/home - </h2>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->

	<div id="r">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h4>If you have troubles in this page, please contact us via following links.</h4>
					<p>
                        Kind Regards, <br>
                        Hiroyuki
                    </p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- r wrap -->


{% endblock %}

