{% extends 'bennuhp/common/base.html' %}
{% load static %}

{% block content %}
	<div id="blue">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h4>Biography</h4>
				<p>"From now, I would like to restart again with a brand new mind and direction to my next page of music.”<br>- Bennu</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!--  bluewrap -->


	<div class="container w">
		<div class="row centered">
			<br>
            <br>
            <img class="img-circle" src="{% static 'bennuhp/img/bio.jpg' %}" width="200" height="200" alt="">
		</div><!-- row -->
	</div><!-- container -->

	<div id="r">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h4>Introduction...</h4>
					<p>One year has passed since Bennu began her music career,<br>
					   expressing "quiet and delicate five senses" in her songs.<br>
					   <br>
					   Bennu’s originals are written in English, covering huge variety of music elements,<br>
					   from Pops, EDM, R&B to Jazz, etc. <br>
					   After putting live activities on hold, she changed her name from "wassy" to "Bennu"<br>
					   and decided to step forward to her music career with novel perspectives and regards.
					</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- r wrap -->

	<div id="r">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h4>Likes...</h4>
					<p>
					<b>...Activity</b><br>
					Singing with the piano or glockenspiel<br>
					Traveling abroad alone<br>
					<b>...Things</b><br>
					Fruits<br>
					Reptiles<br>
					Sea<br>
					The morning sun<br>
					Jasmine<br>
					<b>...People</b><br>
					Cleopatra<br>
					Kyusetsu Miwa (a Japanese Potter)<br>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- r wrap -->

{% endblock %}