{% extends 'bennuhp//common/base.html' %}
{% load static %}


{% block content %}
	<div id="blue">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h4>MUSICS</h4>
				<p>
				Singles, Albums, Covers, and Demos...<br>
				also available at <a href="https://soundcloud.com/bennu1011"><b>SoundCloud</b></a>
				</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- blue wrap -->

	<div class="container w">
		<div class="row centered">
			<br><br>
			<div class="col-lg-4">
				<a href="https://www.youtube.com/watch?v=cz1s7JiV8xk">
				<img class="img-square" src="{% static 'bennuhp/img/whats-my-love.png' %}" width="200" height="200" alt=""></a>
				<h4>What's my love?</h4>
				<p>First Single</p>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4">
				<a href ="https://www.youtube.com/watch?v=JDX38GWBn8w">
				<img class="img-square" src="{% static 'bennuhp/img/morning.png' %}" width="200" height="200" alt=""></a>
				<h4>Morning/Bennu</h4>
				<p>Second Single</p>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4">
				<a href ="https://www.youtube.com/watch?v=M0D1F4_QjFE">
				<img class="img-square" src="{% static 'bennuhp/img/yesterday.png' %}" width="200" height="200" alt=""></a>
				<h4>Yesterday</h4>
				<p>Cover Track of The Beatles</p>
			</div><!-- col-lg-4 -->
		</div><!-- row -->
		<br>
	</div><!-- container -->

	<div id="blue">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h4>MOVIES</h4>
				<p>Music clips, Live movies, Featured DVDs...</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- blue wrap -->


	<div class="container w">
		<div class="row centered">
			<br><br>
			<div class="col-lg-4">
				<a href="https://www.youtube.com/watch?v=D2rjg39aeps">
				<img class="img-square" src="{% static 'bennuhp/img/20150708-live.png' %}" width="200" height="200" alt=""></a>
				<h4>07/08/2015 live@YotsuyaTenmado</h4>
				<p>live movies at YotsuyaTenmado</p>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4">
				<a href="https://www.youtube.com/watch?v=Ut3IBvoGNyM">
				<img class="img-square" src="{% static 'bennuhp/img/201511-live.png' %}" width="200" height="200" alt=""></a>
				<h4>11/07/2015 live@GyoenROSSO</h4>
				<p>live movies at GyoenROSSO</p>
			</div><!-- col-lg-4 -->

		</div><!-- row -->
		<br>
	</div><!-- container -->

	<div id="r">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<p>Newest contents will be avaiable soon...</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- r wrap -->

{% endblock %}