{% extends 'bennuhp/common/base.html' %}

{% block content %}
<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col">
      <h1><b>Bennu</b></h1>
      <h2>- Lullubies for Adults -</h2>
      </div>
    </div>
  </div>
</div>


<!-- div ids are linked to css files, main.css -->
<div id="r">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h4>Thank you so much for all of audience, singers and staff.</h4>
        <p>
          Your support always encourages me.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
