{% extends 'bennuhp/common/base.html' %}
{% load static %}

{% block content %}
<div id="blue">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h4>Live Schedules</h4>
        <p>Looking forward to see you...</p>
      </div>
    </div>
  </div>
</div>


<div class="container desc">
  {% for live in lives|dictsortreversed:"date" %}
  <div class="row">

    <div class="col-lg-6 centered">
      <img src="{% static live.image_path %}" width="300" height="300" alt="">
    </div>

    <div class="col-lg-6">
      <h4>{{ live.title }}</h4>
      <p>
        {{ live.descriptions }} <br>
        <br>
        date: {{ live.date }} {% if live.start_time %}{{ live.start_time }}{% endif %}<br>
        {% if live.price %}
          price: JPY {{ live.price }} <br>
        {% endif %}
        venue: {{ live.venue }} <br>
        <a href="{{ live.url }}">{{ live.url }}</a><br>
        <br>
        {% if live.with_actors %}
          <b>act with:</b><br>
          {% for actor in live.with_actors %}
            {{ actor }}<br>
          {% endfor %}
        {% endif %}
      </p>
    </div>

  </div>
  <hr>
  {% endfor %}
</div>


<div id="r">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h4>What I tell in the live...</h4>
        <p>
          Love yourself,<br>
          Accept yourself,<br>
          Forgive yourself...<br>
          - Leo.F.Buscaglia
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
